

.card{
    width: 500px;
    margin: auto 50px;
    border-radius: 14px;
    border: 1px solid gray;
    margin: 2px auto;
    padding: 10px;
    
}
.img-post{
    width: 100%;
    position: relative;
    border-radius: 14px;
}
.sellerButton{
    border: 1px solid orangered;
    border-radius: 14px;
    color: red;
    background-color: white;
    padding: 5px;
    font-size: larger;
    /*position: absolute;
    top: 20px;
    left: 20px;*/
    position: relative;
    bottom: 570px;
    left: 30px;
}
.tryButton{
    border: 1px solid orangered;
    border-radius: 14px;
    color: red;
    background-color: white;
    padding: 5px;
    font-size: larger;
    position: relative;
    bottom: 200px;
    left: 200px;

}
